* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: transparent;
}
.header .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(186, 187, 197);
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__wrap {
    border-bottom: 1px transparent;
  }
}
.header__logo {
  max-width: 183.86px;
  max-height: 25.75px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 130px;
    max-height: 56px;
  }
}
.header__logo-svg {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: block;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.header__menu-list .menu__item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 36px 10px;
  text-decoration: none;
  display: inline-block;
  min-width: 134px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__menu-list .menu__item-link {
    min-width: 119px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__menu-list .menu__item-link {
    display: none;
  }
}
.header__menu-list .menu__item-link::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 3px solid transparent;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.3s linear;
}
.header__menu-list .menu__item-link:hover::before {
  border: 3px solid #BABBC5;
}
.header__menu-list .menu__item-link:active {
  color: #E71414;
}
.header__menu-list .menu__item-link:active::before {
  border: 3px solid #E71414;
}
.header__menu .hamburger {
  display: none;
  max-width: 55px;
  max-height: 56px;
  padding: 19px 16px;
}
.header__menu .hamburger__block {
  max-width: 24px;
  max-height: 18px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__menu .hamburger {
    display: block;
  }
}
.header__menu .hamburger__logo {
  width: 100%;
  height: 100%;
}

.banner {
  background-image: url(../image/bcg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  padding-top: 230px;
  padding-bottom: 120px;
  margin-bottom: 127px;
}
.banner__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    padding-top: 257px;
    padding-bottom: 126px;
    margin-bottom: 78px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner {
    padding-top: 106px;
    padding-bottom: 52px;
    margin-bottom: 40px;
  }
}
.banner::before {
  content: "";
  position: absolute;
  background: #252B49;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
}
.banner .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.banner__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 47px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
  }
}
.banner__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 79px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 89px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
}
.banner__btn {
  display: inline-block;
  min-width: 369px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FE4343;
  text-decoration: none;
  padding: 24px 0;
  transition: all 0.3s linear;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__btn {
    min-width: 314px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__btn {
    min-width: 280px;
  }
}
.banner__btn:hover {
  background: #E71414;
}
.banner__btn:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}

.features {
  margin-bottom: 134px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features {
    margin-bottom: 80px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features {
    margin-bottom: 35px;
  }
}
.features .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.features__wrap {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 88px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features__wrap {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features__wrap {
    grid-template-columns: 1fr;
    row-gap: 41px;
  }
}
.features .feature__block {
  text-align: center;
}
.features .feature__block-icon {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 29px;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features .feature__block-icon {
    max-width: 85px;
    max-height: 84px;
    margin-bottom: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features .feature__block-icon {
    max-width: 76px;
    max-height: 76px;
    margin-bottom: 21px;
  }
}
.features .feature__block-icon .icon__svg {
  width: 100%;
  height: 100%;
}
.features .feature__block-title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2D3033;
  margin-bottom: 44px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features .feature__block-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 44px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features .feature__block-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }
}
.features .feature__block-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features .feature__block-text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .features .feature__block-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.works {
  margin-bottom: 108px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (min-width: 320px) and (max-width: 767px) {
  .works {
    grid-template-columns: 1fr 1fr;
  }
}
.works__work {
  position: relative;
  display: block;
}
.works__work::before {
  content: "";
  display: block;
  padding-top: 89.9%;
}
.works__work-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.works__work-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 67, 67, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s linear;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .works__work-info {
    row-gap: 12px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .works__work-info {
    row-gap: 5px;
  }
}
.works__work-info:hover {
  opacity: 1;
}
.works__work-info:active {
  background: rgba(185, 12, 12, 0.8);
  opacity: 1;
}
.works__work-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .works__work-title {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .works__work-title {
    font-size: 14px;
    line-height: 16px;
  }
}
.works__work-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .works__work-text {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .works__work-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.team {
  margin-bottom: 114px;
}
.team .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.team__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__wrap {
    gap: 25px;
    margin-bottom: 78px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .team__wrap {
    flex-direction: column;
    gap: 49px;
    margin-bottom: 49px;
  }
}
.team__person {
  width: calc((100% - 90px) / 4);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__person {
    width: calc((100% - 75px) / 4);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .team__person {
    width: 100%;
  }
}
.team__person-photo {
  margin-bottom: 30px;
  position: relative;
}
.team__person-photo::before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__person-photo {
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .team__person-photo {
    margin-bottom: 25px;
  }
}
.team__person-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.team__person-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D3033;
  margin-bottom: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__person-name {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .team__person-name {
    font-size: 18px;
    line-height: 21px;
  }
}
.team__person-function {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 17px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__person-function {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .team__person-function {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 38px;
  }
}
.team__person-info {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 37px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__person-info {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .team__person-info {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 55px;
  }
}
.team__person-messangers {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.team__person-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team__person-link {
    width: 32px;
    height: 32px;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  margin-bottom: 114px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials {
    row-gap: 23PX;
    margin-bottom: 78px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials {
    grid-template-columns: 1fr;
    margin-bottom: 45px;
    row-gap: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials__photo {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.testimonials__photo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.testimonials__testimonial {
  padding-top: 116px;
  padding-bottom: 116px;
  background: #5C3249;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__testimonial-block {
  max-width: 471px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials__testimonial-block {
    max-width: 330px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials__testimonial-block {
    max-width: 275px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials__testimonial {
    padding-top: 47px;
    padding-bottom: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials__testimonial {
    padding-top: 30px;
    padding-bottom: 95px;
    margin-bottom: 23px;
  }
}
.testimonials .testimonial__title {
  font-family: "Cardo", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  margin-bottom: 29px;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials .testimonial__title {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials .testimonial__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.testimonials .testimonial__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials .testimonial__text {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials .testimonial__text {
    font-size: 12px;
    line-height: 14px;
  }
}
.testimonials__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.testimonials__dots-slide {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #7E5D6F;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials__dots-slide {
    width: 9px;
    height: 9px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials__dots-slide {
    width: 9px;
    height: 9px;
  }
}
.testimonials__dots .active {
  background: #7E5D6F;
}

.download {
  text-align: center;
  margin-bottom: 114px;
}
.download .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download__wrap {
    margin-bottom: 78px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download__wrap {
    margin-bottom: 45px;
  }
}
.download__title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 27px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
  }
}
.download__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 52px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 44px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 13px;
  }
}
.download__btn {
  max-width: 370px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  background: #FF4343;
  color: #FFFFFF;
  border: 1px solid #FF4343;
  padding: 25px 0;
  transition: all 0.3s linear;
}
.download__btn:hover {
  border-color: #E71414;
  background: #E71414;
  cursor: pointer;
}
.download__btn:active {
  box-shadow: 4px 4px 30px #FF4343;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .download__btn {
    max-width: 313px;
    font-size: 18px;
    line-height: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download__btn {
    max-width: 279px;
    font-size: 18px;
    line-height: 21px;
  }
}

.footer {
  background: #353C65;
  padding-top: 71px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding-top: 46px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-top: 34px;
  }
}
.footer__block {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: 67px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__block {
    margin-bottom: 41px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__block {
    grid-template-columns: 1fr;
    row-gap: 69px;
    margin-bottom: 33px;
  }
}
.footer__block .location__title,
.footer__block .social__title,
.footer__block .about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 29px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__block .location__title,
.footer__block .social__title,
.footer__block .about__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 17px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__block .location__title,
.footer__block .social__title,
.footer__block .about__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 34px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__block .about__title {
    margin-bottom: 38px;
  }
}
.footer__block .location__text,
.footer__block .about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__block .location__text,
.footer__block .about__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__block .location__text,
.footer__block .about__text {
    font-size: 14px;
    line-height: 16px;
  }
}
.footer__block .social__title {
  margin-bottom: 49px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__block .social__title {
    margin-bottom: 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__block .social__title {
    margin-bottom: 36px;
  }
}
.footer__block .social__massangers {
  display: flex;
  justify-content: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__block .social__massangers {
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
.footer__block .social__massangers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__block .social__massangers-link {
    width: 33px;
    height: 33px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__block .social__massangers-link {
    width: 33px;
    height: 33px;
  }
}
.footer__copyright {
  display: flex;
  justify-content: center;
  background: #2C3154;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__copyright {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    padding-top: 29px;
    padding-bottom: 28px;
  }
}
.footer__copyright .copyright__block {
  max-width: 370px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__copyright .copyright__block {
    max-width: 314px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__copyright .copyright__block {
    max-width: 280px;
  }
}
.footer__copyright .copyright__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #808080;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__copyright .copyright__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__copyright .copyright__text {
    font-size: 14px;
    line-height: 16px;
  }
}
.footer__copyright .copyright__text-white {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */