* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: transparent;
}
.header .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(186, 187, 197);
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__wrap {
    border-bottom: 1px transparent;
  }
}
.header__logo {
  max-width: 183.86px;
  max-height: 25.75px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 130px;
    max-height: 56px;
  }
}
.header__logo-svg {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: block;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.header__menu-list .menu__item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 36px 10px;
  text-decoration: none;
  display: inline-block;
  min-width: 134px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__menu-list .menu__item-link {
    min-width: 119px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__menu-list .menu__item-link {
    display: none;
  }
}
.header__menu-list .menu__item-link::before {
  content: "";
  position: absolute;
  width: 100%;
  border: 3px solid transparent;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}
.header__menu-list .menu__item-link:hover::before {
  border: 3px solid #BABBC5;
}
.header__menu-list .menu__item-link:active {
  color: #E71414;
}
.header__menu-list .menu__item-link:active::before {
  border: 3px solid #E71414;
}
.header__menu .hamburger {
  display: none;
  max-width: 55px;
  max-height: 56px;
  padding: 19px 16px;
}
.header__menu .hamburger__block {
  max-width: 24px;
  max-height: 18px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__menu .hamburger {
    display: block;
  }
}
.header__menu .hamburger__logo {
  width: 100%;
  height: 100%;
}

.banner {
  background-image: url(../image/bcg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 230px;
  padding-bottom: 120px;
}
.banner__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    padding-top: 257px;
    padding-bottom: 126px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner {
    padding-top: 106px;
    padding-bottom: 52px;
  }
}
.banner::before {
  content: "";
  position: absolute;
  background: #252B49;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
}
.banner .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.banner__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 47px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
  }
}
.banner__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 79px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 89px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
}
.banner__btn {
  display: inline-block;
  min-width: 369px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FE4343;
  text-decoration: none;
  padding: 24px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__btn {
    min-width: 314px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__btn {
    min-width: 280px;
  }
}
.banner__btn:hover {
  background: #E71414;
}
.banner__btn:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}

.features {
  padding-top: 116px;
  padding-bottom: 134px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features {
    padding-top: 78px;
    padding-bottom: 80px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}
.features .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.features__wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 767px) {
  .features__wrap {
    flex-direction: column;
  }
}
.features .feature__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 88px;
  max-width: 370px;
  width: calc((100% - 58px) / 3);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features .feature__block {
    max-width: 315px;
    width: calc((100% - 40px) / 3);
    margin-bottom: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features .feature__block {
    max-width: 279px;
    width: 100%;
    margin-bottom: 41px;
  }
}
.features .feature__block-icon {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 29px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features .feature__block-icon {
    max-width: 85px;
    max-height: 84px;
    margin-bottom: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features .feature__block-icon {
    max-width: 76px;
    max-height: 76px;
    margin-bottom: 21px;
  }
}
.features .feature__block-icon .icon__svg {
  width: 100%;
  height: 100%;
}
.features .feature__block-title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2D3033;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features .feature__block-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .features .feature__block-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
  }
}
.features .feature__block-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .features .feature__block-text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .features .feature__block-text {
    font-size: 14px;
    line-height: 16px;
  }
}/*# sourceMappingURL=style.css.map */