$font-Raleway: "Raleway", sans-serif;
$color-white: #FFFFFF;
$color-red: #E71414;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@mixin containerStyle {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: transparent;

    .container {
        @include containerStyle();
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(186, 187, 197);

        @media (min-width: 320px) and (max-width: 767px) {
            border-bottom: 1px transparent;
        }
    }

    &__logo {
        max-width: 183.86px;
        max-height: 25.75px;

        @media (min-width: 320px) and (max-width: 767px) {
            max-width: 130px;
            max-height: 56px;
        }

        &-svg {
            width: 100%;
            height: 100%;
        }
    }

    &__menu {
        display: block;

        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;

            .menu__item-link {
                font-family: $font-Raleway;
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                text-transform: uppercase;
                color: $color-white;
                text-decoration: none;
                padding: 36px 10px;
                text-decoration: none;
                display: inline-block;
                min-width: 134px;
                position: relative;

                @media (min-width: 768px) and (max-width: 1024px) {
                    min-width: 119px;
                    font-size: 12px;
                    line-height: 14px;    
                }
                @media (min-width: 320px) and (max-width: 767px) {
                    display: none;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    border: 3px solid transparent;
                    top: 100%;
                    left: 0;
                    transform: translateY(-100%);
                    transition: all .3s linear;
                }

                &:hover::before {
                    border: 3px solid #BABBC5;
                }

                &:active {
                    color: $color-red;
                    &::before {
                        border: 3px solid $color-red;
                    }
                }

            }
        }

        .hamburger {
            display: none;
            max-width: 55px;
            max-height: 56px;
            padding: 19px 16px;

            &__block {
                max-width: 24px;
                max-height: 18px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                display: block;
            }

            &__logo {
                width: 100%;
                height: 100%;
            }
        }
    }

}

.banner {
    background-image: url(../image/bcg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    padding-top: 230px;
    padding-bottom: 120px;
    margin-bottom: 127px;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        padding-top: 257px;
        padding-bottom: 126px;
        margin-bottom: 78px; 
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 106px;
        padding-bottom: 52px;
        margin-bottom: 40px;
    }

    &::before {
        content: "";
        position: absolute;
        background: #252B49;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 80%;
    }
    .container {
        @include containerStyle();
    }

    &__title {
        position: relative;
        font-family: $font-Raleway;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 47px;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 61px; 
        }

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__text {
        font-family: $font-Raleway;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $color-white;
        margin-bottom: 79px;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 89px; 
        }

        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }
    }
    &__btn {
        display: inline-block;
        min-width: 369px;
        font-family: $font-Raleway;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        background: #FE4343;
        text-decoration: none;
        padding: 24px 0;
        transition: all .3s linear;

        @media (min-width: 768px) and (max-width: 1024px) {
            min-width: 314px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            min-width: 280px;
        }

        &:hover {
            background: #E71414;
        }

        &:active {
            background: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }
    }
}

.features {
    margin-bottom: 134px;

    @media (min-width: 768px) and (max-width: 1024px) {
        margin-bottom: 80px; 
    }

    @media (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 35px;
    }

    .container {
        @include containerStyle();
    }

    &__wrap {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 88px;

        @media (min-width: 768px) and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 50px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            grid-template-columns: 1fr;
            row-gap: 41px;
        }
    }

    .feature__block {
        text-align: center;
        
        &-icon {
            display: inline-block;
            max-width: 100px;
            max-height: 100px;
            margin-bottom: 29px;
            display: inline-block;

            @media (min-width: 768px) and (max-width: 1024px) {
                max-width: 85px;
                max-height: 84px;
                margin-bottom: 24px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                max-width: 76px;
                max-height: 76px;
                margin-bottom: 21px;
            }

            .icon__svg {
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            font-family: $font-Raleway;
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: #2D3033;
            margin-bottom: 44px;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 44px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 16px;
            }
        }

        &-text {
            font-family: $font-Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #6C7279;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16px;
            }

            @media (min-width: 320px) and (max-width: 768px) {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

.works {
    margin-bottom: 108px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
    }

    &__work {
        position: relative;
        display: block;

        &::before {
            content: "";
            display: block;
            padding-top: 89.9%;
        }
        &-img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: center;
        }

        &-info {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
            justify-content: center;
            background: rgba(255, 67, 67, 0.8);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: all .3s linear;

            @media (min-width: 768px) and (max-width: 1024px) {
                row-gap: 12px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                row-gap: 5px;
            }

            &:hover {
                opacity: 1;
            }

            &:active {
                background: rgba(185, 12, 12, 0.8);
                opacity: 1;
            }

        }

        &-title {
            font-family: $font-Raleway;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: $color-white;
            text-transform: uppercase;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 18px;
                line-height: 21px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 14px;
                line-height: 16px;
            }
        }

        &-text {
            font-family: $font-Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: $color-white;
            text-transform: capitalize;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 18px;
                line-height: 21px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 14px;
                line-height: 16px;
            }
        }

    }
}

.team {
    margin-bottom: 114px;

    .container {
        @include containerStyle();
    }
    
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @media (min-width: 768px) and (max-width: 1024px) {
            gap: 25px;
            margin-bottom: 78px; 
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
            gap: 49px;
            margin-bottom: 49px;
        }
    }

    &__person {
        width: calc((100% - 90px) / 4);

        @media (min-width: 768px) and (max-width: 1024px) {
            width: calc((100% - 75px) / 4);
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            width: 100%;
        }

        &-photo {
            margin-bottom: 30px;
            position: relative;

            &::before {
                content: "";
                display: block;
                padding-top: 100%;
            }    

            @media (min-width: 768px) and (max-width: 1024px) {
                margin-bottom: 25px;
            }
        
            @media (min-width: 320px) and (max-width: 767px) {
                margin-bottom: 25px;
            }

        }

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: center;
        }
        
            &-name {
            font-family: $font-Raleway;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-transform: capitalize;
            color: #2D3033;
            margin-bottom: 5px;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 18px;
                line-height: 21px;
            }
        
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 18px;
                line-height: 21px;
            }
        }

        &-function {
            font-family: $font-Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            color: #FF4343;
            margin-bottom: 17px;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 22px;
            }
        
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 38px;
            }
        }
        &-info {
            font-family: $font-Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #6C7279;
            margin-bottom: 37px;
            
            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 39px;
            }
        
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 55px;
            }
        }

        &-messangers {
            display: flex;
            align-items: center;
            column-gap: 6px;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 39px;
            height: 39px;
            border: 1px solid #C6CBCD;

            @media (min-width: 768px) and (max-width: 1024px) {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    margin-bottom: 114px;
    
    @media (min-width: 768px) and (max-width: 1024px) {
        row-gap: 23PX;
        margin-bottom: 78px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        grid-template-columns: 1fr;
        margin-bottom: 45px;
        row-gap: 0;
    }

    &__photo {
        
        @media (min-width: 320px) and (max-width: 767px) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__testimonial {
        padding-top: 116px;
        padding-bottom: 116px;
        background: #5C3249;
        display: flex;
        align-items: center;
        justify-content: center;

        &-block {
            max-width: 471px;
            width: 100%;

            @media (min-width: 768px) and (max-width: 1024px) {
                max-width: 330px;
            }
        
            @media (min-width: 320px) and (max-width: 767px) {
                max-width: 275px;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            padding-top: 47px;
            padding-bottom: 110px;
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            padding-top: 30px;
            padding-bottom: 95px;
            margin-bottom: 23px;
        }
    }

    .testimonial__title {
        font-family: "Cardo", serif;
        font-style: italic;
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        text-transform: capitalize;
        margin-bottom: 29px;
        color: #FFFFFF;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 24px;
            line-height: 32px;
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .testimonial__text {
        font-family: $font-Raleway;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 12px;
            line-height: 14px;
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__dots {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 3;
        column-gap: 25px;

        &-slide {
            border-radius: 50%;
            width: 14px;
            height: 14px;
            border: 1px solid #7E5D6F;

            @media (min-width: 768px) and (max-width: 1024px) {
                width: 9px;
                height: 9px;
                }
        
            @media (min-width: 320px) and (max-width: 767px) {
                width: 9px;
                height: 9px;
            }
        }
        .active {
            background: #7E5D6F;
        }
    }
}

.download {
    text-align: center;
    margin-bottom: 114px;
    
    .container {
        @include containerStyle();
    }

    &__wrap {

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-bottom: 78px;
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            margin-bottom: 45px;
        }

    }

    &__title {
        font-family: $font-Raleway;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 27px;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 25px;
        }
    }

    &__text {
        font-family: $font-Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 52px;

        @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 44px;
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 13px;
        }
    }

    &__btn {
        max-width: 370px;
        width: 100%;
        font-family: $font-Raleway;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        background: #FF4343;
        color: $color-white;
        border: 1px solid #FF4343;
        padding: 25px 0;
        transition: all .3s linear;

        &:hover {
            border-color: #E71414;
            background: #E71414;
            cursor: pointer;
        }

        &:active {
            box-shadow: 4px 4px 30px #FF4343;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            max-width: 313px;
            font-size: 18px;
            line-height: 21px;
        }
    
        @media (min-width: 320px) and (max-width: 767px) {
            max-width: 279px;
            font-size: 18px;
            line-height: 21px;
        }
    }

}
.footer {
    background: #353C65;
    padding-top: 71px;

    @media (min-width: 768px) and (max-width: 1024px) {
        padding-top: 46px;
    }

    @media (min-width: 320px) and (max-width: 767px) {
        padding-top: 34px;
    }

    &__block {
        @include containerStyle();

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        margin-bottom: 67px;

        @media (min-width: 768px) and (max-width: 1024px) {
            margin-bottom: 41px;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            grid-template-columns: 1fr;
            row-gap: 69px;
            margin-bottom: 33px;
        }

        .location__title,
        .social__title,
        .about__title {
            font-family: $font-Raleway;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;          
            color: $color-white;
            margin-bottom: 29px;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 17px;
            }
        
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 34px;
            }  
        }

        .about__title {
            @media (min-width: 320px) and (max-width: 767px) {
                margin-bottom: 38px;
            }
        }

        .location__text,
        .about__text {
            font-family: $font-Raleway;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: capitalize;
            color: $color-white; 
            
            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16px;
            }
        
            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 14px;
                line-height: 16px;
            }
        }

        .social__title {
            margin-bottom: 49px;

            @media (min-width: 768px) and (max-width: 1024px) {
                margin-bottom: 32px;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                margin-bottom: 36px;
            }
        }
        .social__massangers {
            display: flex;
            justify-content: center;
            column-gap: 26px;

            @media (min-width: 768px) and (max-width: 1024px) {
                column-gap: 23px;
            }

            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 39px;
                height: 39px;
                border: 1px solid #C6CBCD;

                @media (min-width: 768px) and (max-width: 1024px) {
                    width: 33px;
                    height: 33px;
                }
            
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 33px;
                    height: 33px;
                }
            }
        }
    }
    &__copyright {
        display: flex;
        justify-content: center;
        background: #2C3154;
        width: 100%;
        padding-top: 23px;
        padding-bottom: 23px;

        @media (min-width: 768px) and (max-width: 1024px) {
            padding-top: 14px;
            padding-bottom: 14px;
        }
        @media (min-width: 320px) and (max-width: 767px) {
            padding-top: 29px;
            padding-bottom: 28px;
        }

        .copyright__block {
            max-width: 370px;
            width: 100%;

            @media (min-width: 768px) and (max-width: 1024px) {
                max-width: 314px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                max-width: 280px;
            }
            
        }

        .copyright__text {
            font-family: $font-Raleway;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: capitalize;
            color: #808080;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
                line-height: 16px;
            }

            @media (min-width: 320px) and (max-width: 767px) {
                font-size: 14px;
                line-height: 16px;
            }

            &-white {
                color: $color-white;
            }
        }
    }
}